body {
	background-color: white;
	margin: 10px;
}

.questions {
	margin: 15px;
}

.question-title {
	font-weight: bold;
}

.form-check{
	margin: 5px;
}

h2 {
	color: lightskyblue;
	text-align: center;
}

form {
	margin: 15px;
}

table{
	margin: 10px;
}

.success-header {
	text-align: center;
} 
.result-btn{
	text-align: center;
}